apiVersion: apps/v1
kind: Deployment
metadata:
name: todolist-deployment
spec:
replicas: 3
selector:
matchLabels:
app: todolist
template:
metadata:
labels:
app: todolist
spec:
containers:
- name: todolist-web
image: karthik797/todolist-web:latest
ports:
- containerPort: 3000